[submodule "cabot-alert-skeleton"]
	path = cabot-alert-skeleton
	url = git@github.com:senzil/cabot-alert-skeleton.git
[submodule "cabot-check-http"]
	path = cabot-check-http
	url = https://github.com/senzil/cabot-check-http.git
